<!DOCTYPE html>
<html>

<head>
    <title>Registro Revisor</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/stylesheet/bootstrap.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>

<body>
    <nav class="navbar" id="nav-bar">
        <a class="sidebar-header"> <img src="/img/univaLogo.png" alt="" style="   height: auto; width: 39px; float: left; padding-right: 7px;">
            IMPRODE</a>
    </nav>
    <div id = "registro-correcto">
        ERROR Los revisores no pudieron ser asignados: El ID de los revisores no existen  <br><br> 
        <form  id="foo" method="GET" action="/">
            <button class="btn btn-lg btn-primary btn-block">OK</button>
        </form>
    </div>
</body>

</html>