<!DOCTYPE html>
<html>

<head>
    <title>Login Improde</title>
    <link rel="stylesheet" href="/stylesheet/bootstrap.css">
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>

<body>
    <nav class="navbar" id="nav-bar">
        <a id="improde-login" class="sidebar-header"> <img src="/img/univaLogo.png" alt="" style="   height: auto; width: 39px; float: left; padding-right: 7px;">
            IMPRODE</a>
    </nav>
    

    <form action="/login" method="POST" class="form-signin text-center"> 
        <br>
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesion</h1>
        <label for="inputEmail" class="sr-only">Correo</label>
        <input name="username" type="email" id="inputEmail" class="form-control" placeholder="Correo" required
            autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block">Entrar</button>
        <% if(error) {%>
            <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
                   El correo o la contraseña son incorrectos
            </div>
        <% } %>
    </form>
</body>

</html>