

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: white;
}


#sidebar ul.components {
    padding: 5px 0px;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background:#EFA43F;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    background: #EFA43F;
}


.univa-logo{
   height: auto;
   width: 39px;
   float: left;
   padding-right: 7px;
}

#menu{
    font-size: 12px
}

#boton{
        background:none!important;
        color:inherit;
        border:none; 
        padding:0!important;
        font: inherit;
        cursor: pointer;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#main {
    text-align:center;
    border-bottom: 5px solid #EFA43F;
    width: 100%;
    padding: 5px 0px;
    height: 60px;
    transition: all 0.3s;
    font-size: 25px;
}


#tabla-encuesta{
    text-align:left;
    font-size: 15px;
    margin: 0px auto;
    width: 85%;
}


#sidebarCollapse{
    float: left;
}

#titulo-tabla{
    text-align:left;
    font-size: 18px;
    width: 85%;
    margin: 60px auto 20px auto;

}





/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}